*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    display: grid;
    place-content: center;
    height:100vh;
    background: url(images/pattern-background-desktop.svg) no-repeat ;
    background-color: hsl(225, 100%, 98%);

}
 /* La carte */
.card {
    border: 1px;
    width:450px;
    height:auto;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}


img[src*='illustration-hero'] {
    width: 450px;
    border-radius: 20px 20px 0 0;
}


/* Decoration of container */
.title1 {
    font-weight: 900;
    margin: 30px 0 25px 0;
    text-align: center;
    font-size: 20px;
}

.description {
    color: hsl(224, 23%, 55%);
    text-align: center;
}

/* Box du price */

.box_plan {
    display: flex;
    margin: 20px;
    padding: 20px 0;
    width: auto;
    align-items: center;
    justify-content: space-evenly;    
    text-align: left;
    font-size: 0.8em;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    
}

.icon_music {

}

h2 {
    font-weight: 900;
    font-size: 15px;
}

h3 {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.change {
 
}

/* button payment */

.button_blue {
    border: 1px solid black;
    border-radius: 5px;
    background-color:  hsl(245, 75%, 52%);
    box-shadow: 0 10px 3px hsl(225, 100%, 98%);
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.button_blue a {
    text-decoration: none;
    color: white;
}

/* button cancel*/
.cancel {
    text-align: center;
    margin-bottom: 30px;

}

.cancel a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);

}
